<div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4" *ngFor="let item of list"><br>
          <h4 class="text-center">Your search result is here</h4><hr>
          <div class="card">
              <img class="card-img-top" src="../../assets/picture/image3.jpg" alt="image">
              <div class="card-body">
                  <h4 class="card-text">{{item.p_name}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">from the brand {{item.p_brand}}</p>
                  </div>
                   
          </div>
      </div>
      </div>
    </div>
  </div>
  